{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                {% set user_link %}
                <a class="user_popup" href="{{ url_for('main.user', username=user.username) }}">
                <h1>{{ user.username }}</h1>
                </a>
                {% endset %}
                {{ _('%(username)s info:',
                    username=user_link) }}
                <br>
                <span id="user{{ user.id }}">{{ user.username }}</span>
                
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% endif %}
                {% if user != current_user %}
                <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ _('Send private message') }}</a></p>
                {% endif %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% if not current_user.get_task_in_progress('export_posts') %}
                <p><a href="{{ url_for('main.export_companions') }}">{{ _('Export companion list') }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    
    <hr>
    {% if companions %}
    {% for companion in companions %}
    <p>
    {{ companion.creator.username }} {{ _('has a companion named:') }}<b> {{ companion.companion_name }} </b>who was created {{ moment(companion.created_at_ts).fromNow() }}
    {% endfor %}
    {% endif %}
{% endblock %}